@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing:border-box;
}

html, body {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

header       {width:100%; height:135px; padding: 0 200px 0; background: #2F5597}
#header_line {width:100%; height:4px;   margin:4px 0 7px;   background: #2F5597}
#banner      {width:auto; height:115px; margin:10px 0 10px; float:left; display:inline-block}

main {
    height:calc(100% - 150px);
    width: calc(100% - 2 * 200px);
    margin:0 200px 0;
    padding:0 10px 0;
    border-width:0 4px 0;
    border-style: solid;
    border-color: #2F5597;
}

.main_ul    {list-style-type:none; margin:0; padding:0; height:100%}
.main_ul li {font-family:OTWelcomeRA; font-size:1.5em; color:#2F5597; margin:5px 0 5px}

#qno  {float:left;  padding-right:10px; border-right:4px solid #2F5597}
#qstd {float:right; padding-left:10px;  border-left:4px solid #2F5597}
button {border-color:black; background-color:#FFF}